version: '3.3'

services:
    api:
      image: tobypeel/steam_group_game_checker_api:prod
      ports:
        - 8080:8080

    ui:
      image: tobypeel/steam_group_game_checker_ui:latest
      depends_on:
        - api
      ports:
         - 3000:80
